<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>

  <system.serviceModel>

    <bindings>

      <basicHttpBinding>
        <binding name="BasicHttpBinding" sendTimeout="00:10:00" maxReceivedMessageSize="1000000000" />
        <binding name="BasicHttpsBinding" sendTimeout="00:10:00" maxReceivedMessageSize="1000000000">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>

      <netTcpBinding>
        <binding name="NetTcpBinding" sendTimeout="00:10:00" maxReceivedMessageSize="1000000000" />
      </netTcpBinding>

      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding" sendTimeout="00:10:00" maxReceivedMessageSize="1000000000" />
      </netNamedPipeBinding>

    </bindings>

    <client>
      <endpoint address="http://localhost:8080/groceryvalue" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding" contract="ServiceReference.IService" name="BasicHttpEndpoint" />
      <endpoint address="https://localhost:8081/groceryvalue" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding" contract="ServiceReference.IService" name="BasicHttpsEndpoint" />
      <endpoint address="net.tcp://localhost:8082/groceryvalue" binding="netTcpBinding" bindingConfiguration="NetTcpBinding" contract="ServiceReference.IService" name="NetTcpEndpoint" />
      <endpoint address="net.pipe://localhost/groceryvalue" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding" contract="ServiceReference.IService" name="NetNamedPipeEndpoint" />
    </client>

  </system.serviceModel>

</configuration>
