<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>

  <system.web>
    <compilation debug="true" />
  </system.web>

  <system.serviceModel>

    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultBehavior">
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" httpGetUrl="http://localhost:8080/groceryvalue/metadata" httpsGetUrl="https://localhost:8081/groceryvalue/metadata" />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service name="GroceryValue.Library.Service" behaviorConfiguration="DefaultBehavior">
        <endpoint address="http://localhost:8080/groceryvalue" binding="basicHttpBinding" contract="GroceryValue.Library.IService" />
        <endpoint address="https://localhost:8081/groceryvalue" binding="basicHttpsBinding" contract="GroceryValue.Library.IService" />
        <endpoint address="net.tcp://localhost:8082/groceryvalue" binding="netTcpBinding" contract="GroceryValue.Library.IService" />
        <endpoint address="net.pipe://localhost/groceryvalue" binding="netNamedPipeBinding" contract="GroceryValue.Library.IService" />
        <endpoint address="http://localhost:8080/groceryvalue/metadata" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="https://localhost:8081/groceryvalue/metadata" binding="mexHttpsBinding" contract="IMetadataExchange" />
        <endpoint address="net.tcp://localhost:8082/groceryvalue/metadata" binding="mexTcpBinding" contract="IMetadataExchange" />
        <endpoint address="net.pipe://localhost/groceryvalue/metadata" binding="mexNamedPipeBinding" contract="IMetadataExchange" />
      </service>
    </services>

  </system.serviceModel>

  <entityFramework>

    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>

    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>

  </entityFramework>

</configuration>
